.better-command-palette-title {
    color: var(--text-accent);
    margin: 5px;
}

.suggestion-item {
    .recent-text {
        color: var(--text-faint);
        margin-left: 10px;
        float: right;
    }

    .suggestion-content {
        display: inline-flex;
        align-items: center;

        svg {
            margin-right: 5px;
        }
    }


    .suggestion-sub-content {
        color: var(--text-faint);
    }

    .unresolved {
        color: var(--text-muted);

        &::after {
            content: '(Unresolved link)';
            float: right;
            color: var(--text-faint);
        }
    }
}


/* Settings Styles */
.macro-setting {
    flex-wrap: wrap;
    .setting-item-name {
        font-weight: bold;
    }

    .macro-main-settings {
        width: 100%;
        display: grid;
        grid-template-columns: 80% 20%;
        border-top: solid 1px var(--background-modifier-border);
        margin-top: 10px;

        * {
            margin-top: 10px;
        }
    }

    .macro-command {
        display: flex;
        align-items: center;
        width: 100%;

        button {
            margin-left: 30px;
            margin-right: 20px;
        }
    }
}
