.better-command-palette{
    .better-command-palette-title {
        color: var(--text-accent);
        margin: 5px;
    }

    .hidden-items-header {
        margin: 0px;
        margin-left: 13px;
        margin-top: 10px;
        font-size: 15px;
        color: var(--text-faint);

        &:hover {
            color: var(--text-muted);
            cursor: pointer;
        }
    }

    .suggestion-item {
        .suggestion-flair {
            color: var(--text-faint);

            &.hidden {
                transform: rotate(45deg);
            }
        }

        .recent-text {
            color: var(--text-faint);
            margin-left: 10px;
            float: right;
        }

        .suggestion-content {
            display: inline-flex;
            align-items: center;

            svg {
                margin: 0px 5px;
                color: var(--text-muted);
            }
        }

        .suggestion-description {
            display: inline;
            color: var(--text-muted);
        }


        .suggestion-sub-content {
            color: var(--text-faint);
        }

        .unresolved {
            color: var(--text-muted);

            &::after {
                content: '(Unresolved link)';
                color: var(--text-faint);
                margin-left: 10px;
            }
        }
    }
}

/* Settings Styles */
.macro-setting {
    flex-wrap: wrap;
    .setting-item-name {
        font-weight: bold;
    }

    .macro-main-settings {
        width: 100%;
        display: grid;
        grid-template-columns: 80% 20%;
        border-top: solid 1px var(--background-modifier-border);
        margin-top: 10px;

        * {
            margin-top: 10px;
        }
    }

    .macro-command {
        display: flex;
        align-items: center;
        width: 100%;

        button {
            margin-left: 30px;
            margin-right: 20px;
        }
    }
}
