.better-command-palette-title {
    color: var(--text-accent);
    margin: 5px;
}
.recent .suggestion-content {
    font-weight: bold;
}

.recent-text {
    color: var(--text-faint);
    margin-left: 10px;
    float: right;
}

.suggestion-sub-content {
    color: var(--text-muted);
    float: right;
}